#login{
    border: 1px solid black;
    width: 300px;
    margin: 0px 0px 0px 20px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    

}

.onclick-menu {
    position: relative;
    display: inline-block;
}

.onclick-menu:focus .onclick-menu-content {
    display: block;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    display: none;
}


.stuff{
     margin: 10px 0 0 0;
}
#messages{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}
#error{

    border: 1px solid black;
    width: 695px;
    height: auto;
    margin: 10px 0px 0px 20px;
    padding: 10px 10px 10px 10px;
    
}
#register{
    border: 1px solid black;
    width: 350px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    padding: 10px 10px 10px 10px;
    /* text-align: center; */
}

.text{
    text-align: right;
    margin: 0px 20px 10px 0;
    
}
h1{
    border-bottom: 1px solid black;
}

.button{
    background-color: green;
    text-align: center;
    color: white;
    width: 100px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 0 0 0;
}

.button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button:after {
    content: '\00bb';
    position: absolute;
    opacity: 10px;
    top: 0;
    color: black;
    right: -5px;
    transition: 0.5s;
  }
  
  .button:hover {
    padding-right: 25px;
  }
  
  .button:hover:after {
    opacity: 1;
    right: 0px;
  }

.move{
    text-align: center;
}